<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>CheckConnection</display-name>
    <servlet-name>CheckConnection</servlet-name>
    <servlet-class>connection.CheckConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckConnection</servlet-name>
    <url-pattern>/CheckConnection</url-pattern>
  </servlet-mapping>
  <display-name>CDTPay</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>Controllers.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTransaction</display-name>
    <servlet-name>UserTransaction</servlet-name>
    <servlet-class>Controllers.UserTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTransaction</servlet-name>
    <url-pattern>/UserTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSaving</display-name>
    <servlet-name>UserSaving</servlet-name>
    <servlet-class>Controllers.UserSaving</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSaving</servlet-name>
    <url-pattern>/UserSaving</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLoginServlet</display-name>
    <servlet-name>StaffLoginServlet</servlet-name>
    <servlet-class>Controllers.StaffLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLoginServlet</servlet-name>
    <url-pattern>/StaffLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDepositServlet</display-name>
    <servlet-name>AdminDepositServlet</servlet-name>
    <servlet-class>Controllers.AdminDepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDepositServlet</servlet-name>
    <url-pattern>/AdminDepositServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTransServlet</display-name>
    <servlet-name>AdminTransServlet</servlet-name>
    <servlet-class>Controllers.AdminTransServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTransServlet</servlet-name>
    <url-pattern>/AdminTransServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffCreateUser</display-name>
    <servlet-name>StaffCreateUser</servlet-name>
    <servlet-class>Controllers.StaffCreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffCreateUser</servlet-name>
    <url-pattern>/StaffCreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffUpdateUser</display-name>
    <servlet-name>StaffUpdateUser</servlet-name>
    <servlet-class>Controllers.StaffUpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffUpdateUser</servlet-name>
    <url-pattern>/StaffUpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffDeleteServlet</display-name>
    <servlet-name>StaffDeleteServlet</servlet-name>
    <servlet-class>Controllers.StaffDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDeleteServlet</servlet-name>
    <url-pattern>/StaffDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>